[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/nerd/start/nerdtree"]
	path = pack/nerd/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
